
services:
    mongo:
        container_name: test_mongo
        build: 
            context: image
            #args:
            #    - VALUE_MONGO_VERSION=${VALUE_MONGO_VERSION}
        restart: always
        environment:
            - MONGO_INITDB_HOST=test_mongo
            - MONGO_INITDB_DATABASE=project
            - MONGO_INITDB_ROOT_USERNAME=root
            - MONGO_INITDB_ROOT_PASSWORD=secret
